<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html style="font-family: verdana,helvetica,arial,sans-serif;font-size: small;height: 100%;">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Data Subscriber Invoice Template</title>
</head>
<body style="font-family: verdana,helvetica,arial,sans-serif;font-size: small;height: 100%;">
<h1 style="text-align: center;">Invoice</h1>
<div id="company_info" style="border: 1px solid #ccc;float: left;width: 50%;">
	<ul style="padding-left: 0;">
		<li style="list-style-type: none;">{{{COMPANY_NAME}}}</li>
		<li style="list-style-type: none;">{{{CONTACT_NAME}}}</li>
		<li style="list-style-type: none;">{{{Address}}}</li>
		<li style="list-style-type: none;">{{{CITY}}},{{{COUNTRY}}}</li>
	</ul>
</div>
<div id="contract_info" style="border: 1px solid #ccc;float: right;width: 45%;">
	<ul style="padding-left: 0;">
		<li style="list-style-type: none;">Invoice #{{{INVOICE_NUMBER}}}</li>
		<li style="list-style-type: none;">Invoice Date {{{INVOICE_DATE}}}</li>
		<li style="list-style-type: none;">Agreement #{{{AGREEMENT_NUMBER}}}</li>
		<li style="list-style-type: none;">Due Date {{{DUE_DATE}}}</li>
	</ul>
</div>
<h2 style="padding-top: 1em;clear: both;text-align: center;">Invoice Details</h2>
<div id="invoice_data" style="border: none;clear: both;">
	<table style="width: 100%;border-spacing: 0px;">
		<thead style="border: 1px solid #000;text-align: center;font-weight: bold;margin: 0;padding: 0;">
			<tr style="padding: 0;margin: 0;">
				<td class="cell_number" style="border: 2px solid #000;margin: 0;width: 5%;">No.</td>
				<td class="cell_description" style="border: 2px solid #000;margin: 0;width: 55%;">Service Description</td>
				<td class="cell_period" style="border: 2px solid #000;margin: 0;width: 15%;">Period</td>
				<td class="cell_quantity" style="border: 2px solid #000;margin: 0;width: 5%;">Quantity</td>
				<td class="cell_unitprice" style="border: 2px solid #000;margin: 0;width: 10%;">Unit Price</td>
				<td class="cell_amount" style="border: 2px solid #000;margin: 0;width: 10%;">Amount (BHD)</td>
			</tr>
		</thead>
		<tbody style="border: 1px solid #000;font-size: small;">
			<tr>
				<td style="border-bottom: solid 1px #ccc;">{{{}}}</td>
				<td style="border-bottom: solid 1px #ccc;">{{{}}}</td>
				<td style="border-bottom: solid 1px #ccc;">{{{}}}</td>
				<td style="border-bottom: solid 1px #ccc;">{{{}}}</td>
				<td style="border-bottom: solid 1px #ccc;">{{{}}}</td>
				<td style="border-bottom: solid 1px #ccc;">{{{}}}</td>
			</tr>
		</tbody>
		<tfoot style="font-weight: bold;font-size: small;border: none;">
			<tr>
				<td colspan="3" style="text-align: right;">&nbsp;</td>
				<td colspan="2" style="text-align: right;">Current Charge</td>
				<td style="text-align: right;">{{{XXX}}}</td>
			</tr>
			<tr>
				<td colspan="3" style="text-align: right;">&nbsp;</td>
				<td colspan="2" style="text-align: right;">Current Charge</td>
				<td style="text-align: right;">{{{XXX}}}</td>
			</tr>
			<tr>
				<td colspan="3" style="text-align: right;">&nbsp;</td>
				<td colspan="2" style="text-align: right;">Outstanding Balance</td>
				<td style="text-align: right;">{{{XXX}}}</td>
			</tr>
			<tr>
				<td colspan="3" style="text-align: right;">&nbsp;</td>
				<td colspan="2" style="text-align: right;">Total Amount</td>
				<td style="text-align: right;">{{{XXX}}}</td>
			</tr>
		</tfoot>
	</table>
</div>
<div class="spacer" style="border: none;margin-top: 1em;">&nbsp;</div>
<div id="bottom_info" style="border: 1px solid #ccc;position: absolute;bottom: 0;width: 100%;clear: both;display: block;">
	<div id="payment_info" style="border: 1px solid #ccc;position: absolute;left: 0;bottom: 0;width: 55%;">
		Payment mode:		CASH/CHQ/CREDIT CARD <br>
		Pay by cash/chq at: 	NBB TOWER,12th Flr, <br>
				Government, <br>
				Avenue,Manama <br>
		To pay by Credit Card: 	Call 16500134 <br>
		OR Direct Bank Transfer to:	 Bank of Bahrain and Kuwait, <br>
		2 Connect W.L.L <br>
		100000063796 <br>
		Swift code: 		BBKUBHBM <br>
		IBAN Code: 	BH65 BBKU 0010 0000 0637 96 <br>
	</div>
	<div id="contact_info" style="border: 1px solid #ccc;position: absolute;right: 0;bottom: 0;width: 40%;">
	Thank you for choosing 2Connect <br>
	2Connect Support :  <br>
	Billing queries:		16500134 <br>
	Technical Support : 	16500110 <br>
	Sales queries:		16500111 <br>
	Email us @:	support@my2connect.com <br>
	</div>
</div>
</body>
</html>